@page "/"
@inject IPokerAppService PokerAppService

<PageTitle>Home</PageTitle>

<MudPaper Class="mt-4 pa-6">
    <MudText Typo="Typo.h5" GutterBottom="true">Upload a poker card image.</MudText>
    <MudFileUpload T="IBrowserFile" Accept=".png, .jpg, .jpeg" FilesChanged="OnFileSelected">
        <ActivatorContent>
            <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Image" Label="Load picture" />
        </ActivatorContent>
        <SelectedTemplate>
            @if (context != null)
            {
                <MudText Class="mt-2">@context.Name</MudText>
            }
            else
            {
                <MudText Class="mt-2">No File</MudText>
            }
        </SelectedTemplate>
    </MudFileUpload>
    <MudButton Disabled="@(_selectedFile is null || _isProcessing ||_isEvaluating)" OnClick="@(() => ProcessFile())"
        Color="Color.Primary" Variant="Variant.Filled" Class="mt-2">
        @if (_isProcessing || _isEvaluating)
        {
            <MudProgressCircular Indeterminate="true" Size="Size.Small" Class="mr-2" />
            <MudText>Processing...</MudText>
        }
        else
        {
            <MudText>Process Image</MudText>
        }
    </MudButton>
</MudPaper>

@if (_predictions is not null)
{
    <MudPaper Class="mt-4 pa-6">
        @if (_predictions.Count > 0)
        {
            <MudText Typo="Typo.h6">Detected Cards</MudText>
            <MudTable Items="_predictions" Dense="true" Hover="true" Elevation="0">
                <HeaderContent>
                    <MudTh>Rank</MudTh>
                    <MudTh>Suit</MudTh>
                    <MudTh>Confidence</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Rank">@context.Card.Rank</MudTd>
                    <MudTd DataLabel="Suit">@context.Card.Suit</MudTd>
                    <MudTd DataLabel="Confidence">@context.Probability.ToString("P1")</MudTd>
                </RowTemplate>
            </MudTable>
        }
        else
        {
            <MudText Color="Color.Warning">
                No cards detected in the image.
            </MudText>
        }
    </MudPaper>
}

@if (_evaluationErrorMessage is not null)
{
    <MudPaper Class="mt-4 pa-6">
        <MudText Typo="Typo.h6" Color="Color.Error" Align="Align.Center">
            @_evaluationErrorMessage
        </MudText>
    </MudPaper>
}
else if (_evaluatedCombination is not null)
{
    <MudPaper Class="mt-4 pa-6">
        <MudText Typo="Typo.h6" Align="Align.Center">
            Combination evaluation result: <span style="text-decoration: underline;">@_evaluatedCombination.GetDisplayName()</span>
        </MudText>
    </MudPaper>
}

@code
{
    /// <summary>
    /// Is the image being processed?
    /// </summary>
    private bool _isProcessing;

    /// <summary>
    /// True if cards are being evaluated.
    /// </summary>
    private bool _isEvaluating;

    /// <summary>
    /// The predictions for the current image.
    /// </summary>
    private IReadOnlyList<CardPrediction>? _predictions;

    /// <summary>
    /// The currently selected file.
    /// </summary>
    private IBrowserFile? _selectedFile;

    /// <summary>
    /// The evaluated card combination of the predicted cards.
    /// </summary>
    private Enums.ECardCombination? _evaluatedCombination;

    /// <summary>
    /// Error message of combination evaluation. Occurs when more than five or duplicated cards are detected.
    /// </summary>
    private string? _evaluationErrorMessage;

    /// <summary>
    /// Selects the image to upload to the server for processing.
    /// </summary>
    /// <param name="file">The file to upload.</param>
    private void OnFileSelected(IBrowserFile? file)
    {
        _selectedFile = file;
        _predictions = null;
        _evaluationErrorMessage = null;
        _evaluatedCombination = null;
    }

    /// <summary>
    /// Processes the uploaded image.
    /// </summary>
    private async Task ProcessFile()
    {
        if (_selectedFile is null)
        {
            return;
        }

        _isProcessing = true;
        _predictions = await PokerAppService.PredictCardsAsync(_selectedFile);
        _isProcessing = false;

        await EvaluateCardsCombination();
    }

    /// <summary>
    /// Evaluates the combination of the predicted cards.
    /// </summary>
    private async Task EvaluateCardsCombination()
    {
        if (_predictions is null)
        {
            Console.WriteLine("Error: predictions empty.");
            return;
        }

        _isEvaluating = true;

        try
        {
            _evaluatedCombination = await Task.Run(() =>
                PokerAppService.EvaluateCombination(_predictions.Select(p => p.Card).ToList())
            );
        }
        catch (ArgumentOutOfRangeException e)
        {
            _evaluationErrorMessage = e.Message;
        }
        catch (ArgumentException e)
        {
            _evaluationErrorMessage = e.Message;
        }

        _isEvaluating = false;
    }
}
