@page "/"
@inject IPokerAppService PokerAppService
@inject IPokerCombinationEvaluatorService PokerHandEvaluatorService

<PageTitle>Home</PageTitle>

<MudPaper Class="mt-4 pa-6">
    <MudText Typo="Typo.h5" GutterBottom="true">Upload a poker card image.</MudText>
    <MudFileUpload T="IBrowserFile" Accept=".png, .jpg, .jpeg" FilesChanged="OnFileSelected">
        <ActivatorContent>
            <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Image" Label="Load picture" />
        </ActivatorContent>
        <SelectedTemplate>
            @if (context != null)
            {
                <MudText Class="mt-2">@context.Name</MudText>
            }
            else
            {
                <MudText Class="mt-2">No File</MudText>
            }
        </SelectedTemplate>
    </MudFileUpload>
    <MudButton Disabled="@(_selectedFile is null || _isProcessing ||_isEvaluating)" OnClick="@(() => ProcessFile())"
        Color="Color.Primary" Variant="Variant.Filled" Class="mt-2">
        @if (_isProcessing || _isEvaluating)
        {
            <MudProgressCircular Indeterminate="true" Size="Size.Small" Class="mr-2" />
            <MudText>Processing...</MudText>
        }
        else
        {
            <MudText>Process Image</MudText>
        }
    </MudButton>
</MudPaper>

@if (_predictions is not null)
{
    <MudPaper Class="mt-4 pa-6">
        @if (_predictions.Count > 0)
        {
            <MudText Typo="Typo.h6">Detected Cards</MudText>
            <MudTable Items="_predictions" Dense="true" Hover="true" Elevation="0">
                <HeaderContent>
                    <MudTh>Rank</MudTh>
                    <MudTh>Suit</MudTh>
                    <MudTh>Confidence</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Rank">@context.Card.Rank</MudTd>
                    <MudTd DataLabel="Suit">@context.Card.Suit</MudTd>
                    <MudTd DataLabel="Confidence">@context.Probability.ToString("P1")</MudTd>
                </RowTemplate>
            </MudTable>
        }
        else
        {
            <MudText Color="Color.Warning">
                No cards detected in the image.
            </MudText>
        }
    </MudPaper>
}

<!-- Button created only for testing the card evaluation. -->
<MudPaper Class="mt-4 pa-6">
    <MudButton OnClick="@(() => testEvaluatingCards())" Color="Color.Primary" Variant="Variant.Filled" Class="mt-2">
        <MudText>Evaluate cards</MudText>
    </MudButton>
</MudPaper>

@if (_evaluatedCombination is not null)
{
    <MudPaper Class="mt-4 pa-6">
        <MudText Typo="Typo.h6" Align="Align.Center">
            The combination of the detected cards is <span style="text-decoration: underline;">@_evaluatedCombination</span>.
        </MudText>
    </MudPaper>
}

@code
{
    /// <summary>
    /// Is the image being processed?
    /// </summary>
    private bool _isProcessing;

    /// <summary>
    /// True if cards are being evaluated.
    /// </summary>
    private bool _isEvaluating;

    /// <summary>
    /// The predictions for the current image.
    /// </summary>
    private IReadOnlyList<CardPrediction>? _predictions;

    /// <summary>
    /// The currently selected file.
    /// </summary>
    private IBrowserFile? _selectedFile;

    /// <summary>
    /// The evaluated card combination of the predicted cards.
    /// </summary>
    private string? _evaluatedCombination;

    /// <summary>
    /// Selects the image to upload to the server for processing.
    /// </summary>
    /// <param name="file">The file to upload.</param>
    private void OnFileSelected(IBrowserFile? file)
    {
        _selectedFile = file;
        _predictions = null;
    }

    /// <summary>
    /// Processes the uploaded image.
    /// </summary>
    private async Task ProcessFile()
    {
        if (_selectedFile is null)
        {
            return;
        }

        _isProcessing = true;
        _predictions = await PokerAppService.PredictCardsAsync(_selectedFile);
        _isProcessing = false;

        await EvaluateCardsCombination();
    }

    /// <summary>
    /// Evaluates the combination of the predicted cards.
    /// </summary>
    private async Task EvaluateCardsCombination()
    {
        if (_predictions is null)
        {
            Console.WriteLine("Error: predictions empty.");
            return;
        }

        if (_predictions.Count != 5)
        {
            Console.WriteLine($"Error: predicted cards count is not 5. (Cards cound is: {_predictions.Count})");
            return;
        }

        _isEvaluating = true;

        _evaluatedCombination = await Task.Run(() =>
            PokerHandEvaluatorService.EvaluateCombination(_predictions.Select(p => p.Card).ToList())
        );

        _isEvaluating = false;
    }

    // Only test for evaluating the cards without uploading pictures eachtime. (Until the card detector corrected.)
    private void testEvaluatingCards()
    {
        var card1 = new Card(Enums.ECardRank.Queen, Enums.ECardSuit.Diamonds);
        var card2 = new Card(Enums.ECardRank.King, Enums.ECardSuit.Diamonds);
        var card3 = new Card(Enums.ECardRank.Five, Enums.ECardSuit.Diamonds);
        var card4 = new Card(Enums.ECardRank.Seven, Enums.ECardSuit.Diamonds);
        var card5 = new Card(Enums.ECardRank.Three, Enums.ECardSuit.Diamonds);

        var test_cards = new List<Card> {
            card1,
            card2,
            card3,
            card4,
            card5
        }.AsReadOnly();

        _evaluatedCombination = PokerHandEvaluatorService.EvaluateCombination(test_cards);
    }
}
